{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="main-image-title">
    <img class="hero-image m-auto w-100" src="{{ MEDIA_URL }}/hero-landing.jpg" alt="Overlooking Fasttrack">
    <h1 class="text-center light-text">Welcome to <em><strong class="gold"> FastTrack </strong></em> Bike Park</h1>
</div>
{% endblock %}