{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="main-image-title">
        <div>
            <img class="hero-image m-auto w-100" src="https://res.cloudinary.com/dxgaw1xya/image/upload/v1712833526/media/hero-landing_kvd39o.jpg" alt="Overlooking Fasttrack">
            <div class="image-fade-out"></div>
        </div>
        <div id="trails-message">
            <h1 class="text-center muted-text"><em><strong class="gold-text">Trails</strong></em> at FastTrack Bike Park</h1>
            <p class="text-center muted-text">We have over 25 trails aimed at a variety of skill levels. This means that there is something for everyone!</p>
            <p class="text-center muted-text">Check out our trail map to get your bearings.</p>
        </div>
        <div id="trail-map-container">
            <img class="my-4 w-100" src="https://res.cloudinary.com/dxgaw1xya/image/upload/v1713642818/media/trails3_vgdbzh.png" alt="Overlooking Fasttrack">
        </div>
    </div>
{% endblock %}