{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="main-image-title">
        <div>
            <img class="hero-image m-auto w-100" src="https://res.cloudinary.com/dxgaw1xya/image/upload/v1712833526/media/hero-landing_kvd39o.jpg" alt="Overlooking Fasttrack">
            <div class="image-fade-out"></div>
        </div>
        <div id="welcome-message">
            <h1 class="text-center muted-text">Welcome to <em><strong class="gold-text"> FastTrack </strong></em> Bike Park</h1>
            <p class="text-center muted-text">Get ready to experience adrenaline-pumping thrills and heart-racing excitement at our state-of-the-art bike park. Whether you're a seasoned rider looking to conquer challenging trails or a beginner eager to learn new skills, FastTrack Bike Park offers something for everyone.</p>
            <p class="text-center muted-text">With a variety of trails catering to all skill levels, top-notch facilities, and breathtaking scenery, our park is the ultimate destination for mountain biking enthusiasts. Ride through lush forests, tackle technical obstacles, and feel the rush of soaring down exhilarating descents.</p>
            <p class="text-center muted-text">Join us at FastTrack Bike Park and embark on an unforgettable adventure filled with fun, adrenaline, and unforgettable memories. Start pedaling and let the journey begin!</p>
        </div>

    </div>
{% endblock %}