#landing-hero {
    position: absolute;
    top: -15px;
}

#category-container {
    width: 98%;
    margin: auto;
}

#welcome-message {
    padding: 20px 0 40px 0;
    border-bottom: 5px solid;
    border-image: radial-gradient(var(--gold), var(--dark-grey)) 10;
}

#category-summary {
    padding: 0 0 40px 0;
    border-bottom: 5px solid;
    border-image: radial-gradient(var(--gold), var(--dark-grey)) 10;
}

#category-banner {
    height: 80px;
    background-image: linear-gradient(to right, var(--dark-grey), var(--gold), var(--dark-grey));
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--dark-grey);
    margin-bottom: 10px;
}

#category-banner p {
    margin: 0;
    color: var(--dark-grey);
}

.category {
    background-color: var(--grey);
    color: var(--gold)
}

#info-summary {
    padding: 0 10px 40px 10px;
}

#info-banner p {
    margin: 0;
    color: var(--dark-grey);
}

#info-banner {
    height: 80px;
    background-image: linear-gradient(to right, var(--dark-grey), var(--gold), var(--dark-grey));
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--dark-grey);
    margin-bottom: 10px;
}


.info-item {
    background-color: var(--grey);
    justify-content: space-around;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;
    height: fit-content;
}

.new-info-image{
    border-radius: 5px;
    overflow: hidden;
    height: 250px;
}

.new-info-image img{
    object-fit: cover;
    height: 100%;
    margin: 0 auto;
}

/* -------- ABOUT PAGE -------- */
#about-message {
    padding: 20px 0 40px 0;
    border-bottom: 5px solid;
    border-image: radial-gradient(var(--gold), var(--dark-grey)) 10;
}

/* ----- LOCATION ----- */

#location-summary {
    padding: 0 0 40px 0;
    border-bottom: 5px solid;
    border-image: radial-gradient(var(--gold), var(--dark-grey)) 10;
}

#location-banner {
    height: 80px;
    background-image: linear-gradient(to right, var(--dark-grey), var(--gold), var(--dark-grey));
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--dark-grey);
    margin-bottom: 10px;
}

#location-banner p {
    margin: 0;
    color: var(--dark-grey);
}

#location-container p{
    color: var(--almost-white);
}
gmp-map {
    height: 400px;
    width: 80%;
    margin: auto;
}

/* ----- OPENING HOURS ----- */
#open-hours-summary {
    padding: 0 0 40px 0;
    border-bottom: 5px solid;
    border-image: radial-gradient(var(--gold), var(--dark-grey)) 10;
}

#open-hours-banner {
    height: 80px;
    background-image: linear-gradient(to right, var(--dark-grey), var(--gold), var(--dark-grey));
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--dark-grey);
    margin-bottom: 10px;
}

#open-hours-banner p {
    margin: 0;
    color: var(--dark-grey);
}

#open-hours-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----- CONTACT ----- */
#contact-summary {
    padding: 0 0 20px 0;
}

#contact-banner {
    height: 80px;
    background-image: linear-gradient(to right, var(--dark-grey), var(--gold), var(--dark-grey));
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--dark-grey);
    margin-bottom: 10px;
}

#contact-banner p {
    margin: 0;
    color: var(--dark-grey);
}

/* Lists */
.list-group-item{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    background-color: none !important;
}

.list-group {
    background-color: var(--grey) !important;
}
