{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div>
    <div class="col-8 m-auto light-text"> 
        <hr>
        <h2> Add a Review </h2>
        <hr>
        <h4> Reviewing: {{ activity }}</h4>
        <div class="review-form-container">
            <form class="d-flex flex-column" method="post">
                <div class="d-flex flex-column">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <button type="submit" class="checkout-button" >Submit Review</button>
            </form>
            {{ form.errors }}
        </div>
        <div class="d-flex flex-row justify-content-around col">
            <a class="btn back-button m-2" href="{% url 'order_history' user_id=user %}" aria-label="Go back to order history page">
                Back to order history
            </a>
        </div>
    </div>
</div>

{% endblock %}
