{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">Bookings</div>
        </div>
    </div>

{% endblock %}


{% block content %}
<div class="container d-flex mb-3 flex-column light-text">
    <a class="button mx-2" href="{% url 'profile' %}" aria-label="Go back to the profile page">Go Back</a>
    <div class="col light-text"> 
        <hr>
        <h2> Bookings </h2>
        <hr>
        <div class="filter-container d-flex flex-column col-12">
            <div class="d-flex justify-content-around flex-wrap my-2">
                <div class="d-flex flex-column">
                    <label class="text-center m-0 p-0" for="datepicker">Filter by date:</label>
                    <input type="text" class="pointer m-2" id="datepicker" placeholder="Select a date">
                </div>
                {% if activities %}
                <div class="activity-select-wrapper d-flex flex-column">
                    <label class="text-center m-0 p-0" for="activity-filter">Filter by activity:</label>
                    <select id="activity-filter" class="m-2">
                        <option value="reset">All Activities</option>
                        {% for activity in activities%}
                        <option value="{{ activity.id }}">{{ activity }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <a class="back-button mx-auto p-3 col text-center" href="{% url 'bookings' %}" aria-label="Show all future bookings by continuing to the bookinsg page.">Show all future bookings</a>
        </div>
        {% if timeslot_list %}
            <table class="table table-responsive text-center">
                <thead>
                    <tr>
                        <th class="col">Activity</th>
                        <th class="col"class="col">Date</th>
                        <th class="col d-none d-md-table-cell">Duration</th>
                        <th class="col">Booked Spaces</th>
                    </tr>
                </thead>
                <tbody>
                    {% for timeslot, data in timeslot_list.items %}
                        <tr class="timeslot" data-activity={{ timeslot.activity.id }} >
                            <td class="col">
                                <a href="{% url 'booking_info' timeslot_id=timeslot.id %}" aria-label="Redirect to the booking info for this timeslot"> 
                                    {{ timeslot.activity }} 
                                </a>
                            </td>
                            <td class="col">
                                <div class="small">{{ timeslot.start_time.date }}</div>
                                <div class="small">{{ timeslot.start_time.time }}</div>
                            </td>
                            <td class="col d-none d-md-table-cell">{{ timeslot.activity.get_duration.0 }}
                            <td class="col"><strong>{{ data.quantity }}</strong><small>/{{ data.capacity }}</small></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No upcoming bookings.
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }} 
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI library -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(document).ready(function() {
            // Initialize Datepicker
            $("#datepicker").datepicker({
                onSelect: function(dateText) {
                    // Redirect to the view with the selected date as a parameter
                    var parts = dateText.split('/');
                    var formattedDate = parts[1] + '/' + parts[0] + '/' + parts[2];
                    window.location.href = "{% url 'bookings' %}?date=" + formattedDate;
                }
            });      
            
            // Filter bookings by activity
            $('#activity-filter').change(function() {
                let selectedActivity = $(this).val();

                $('.timeslot').each(function () {
                    let activity = $(this).data('activity'); 
                    if (!selectedActivity || selectedActivity === 'reset' || activity == selectedActivity) {
                        $(this).show(); // Show the timeslot
                    } else {
                        $(this).hide(); // Hide the timeslot
                    }
                });
            });
        });
    </script>

{% endblock %}
