{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">Order History</div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
<div class="container d-flex flex-column light-text text-center">
    <a class="button mx-2 text-start" href="{% url 'profile' %}" aria-label="Go back to your profile">Go Back</a>
    <h2> Your Orders </h2>
    <hr>
    <div class="d-flex flex-wrap">
        <div class="d-flex flex-column col-12 col-lg-7 mx-auto text-center p-1">
            <h3 class="text-center">Order Histroy</h3>
            <hr>
            {% if orders %}
                <table class="table order-history-table responsive-table text-center">
                    <thead>
                        <tr>
                            <th class="col">Order #</th>
                            <th class="col d-none d-md-table-cell">Activity</th>
                            <th class="col">Timeslot</th>
                            <th class="col d-none d-md-table-cell">Quantity</th>
                            <th class="col d-none d-md-table-cell">Order Total</th>
                            <th class="col">Order date</th>
                            <th class="col d-none d-md-table-cell"> Review </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <!--Order number-->
                                <td class="col">
                                    <a href="{% url 'order_details' order.order_number %}"
                                                title="{{ order.order_number }}" aria-label="View details for order {{ order.order_number }}">
                                                    {{ order.order_number|truncatechars:6 }}
                                                </a>
                                </td>
                                <!--Order activity-->
                                <td class="col d-none d-md-table-cell">
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                <a class="round-border" href="{% url 'activity_details' item.timeslot.activity.id %}"  aria-label="See details for {{ item.timeslot.activity }}">{{ item.timeslot.activity }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <!--Order start time-->
                                <td class="col">
                                    <ul class="list-unstyled d-none d-md-flex flex-column">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {{ item.timeslot.start_time.date }}
                                            </li>                                            
                                        {% endfor %}
                                    </ul>
                                    <ul class="list-unstyled d-md-none">
                                        {% for item in order.lineitems.all %}
                                            {% if forloop.last %}
                                                <li class="small">{{ item.timeslot.activity }} <a href="{% url 'add_review' activity_id=item.timeslot.activity.id %}"><i class="fa-regular fa-star-half-stroke"></i></a></li> 
                                                <li class="small">({{ item.timeslot.start_time.date }})</li>
                                            {% else %}            
                                                <li class="small">{{ item.timeslot.activity }} <a href="{% url 'add_review' activity_id=item.timeslot.activity.id %}"><i class="fa-regular fa-star-half-stroke"></i></a></li> 
                                                <li class="small">({{ item.timeslot.start_time.date }})</li>
                                                <li><hr></li>       
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                                <!--Order quantity-->
                                <td class="col d-none d-md-table-cell">
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <!--Order total-->
                                <td class="col d-none d-md-table-cell">£{{ order.order_total }}</td>
                                <!--Order date-->
                                <td class="col"><small>{{ order.date.date }}</small></td>
                                <!--Review-->
                                <td class="col d-none d-md-table-cell"> 
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                <a href="{% url 'add_review' activity_id=item.timeslot.activity.id %}" aria-label="Add a review" >Review</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                You haven't made any bookings with us before.
            {% endif %}
        </div>
        <div class="d-flex flex-column col-12 col-lg-3 mx-auto text-center p-1">
            <h3 class="text-center">Your bookings</h3>
            <hr>
            <div class="col-12">
                <h4>Future Bookings </h4>
                {% if sorted_timeslot_future %}    
                    <table class="table table-responsive table-sm text-center">
                        <thead>
                            <tr>
                                <th> Activity </th>
                                <th> Date </th>
                                <th> Time </th>
                                <th class="d-none d-sm-table-cell"> Qty </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for timeslot, quantity in sorted_timeslot_future.items %}
                                <tr>
                                    <td>{{ timeslot.activity }}</td>
                                    <td>{{ timeslot.start_time.date }}</td>
                                    <td>{{ timeslot.start_time.time }}</td>
                                    <td class="d-none d-sm-table-cell">{{ quantity }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                <p class="small muted-text"> No future bookings. </p>
                {% endif %}
            </div>
            <div class="col-12">
                <h4> Past Bookings </h4>
                {% if sorted_timeslot_past %}    
                    <table class="table table-responsive table-sm text-center">
                        <thead>
                            <tr>
                                <th> Activity </th>
                                <th> Date </th>
                                <th> Time </th>
                                <th class="d-none d-sm-table-cell"> Qty </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for timeslot, quantity in sorted_timeslot_past.items %}
                                <tr>
                                    <td>{{ timeslot.activity }}</td>
                                    <td>{{ timeslot.start_time.date }}</td>
                                    <td>{{ timeslot.start_time.time }}</td>
                                    <td class="d-none d-sm-table-cell">{{ quantity }}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="small muted-text"> No past bookings. </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}