{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">Order History</div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
<div class="container d-flex flex-wrap p-1">
    <div class="d-flex flex-column col-12 col-lg-8 text-center p-1">
        <h3 class="text-center">Order Histroy</h3>
        <hr>
        {% if orders %}
            <table class="table table-responsive text-center">
                <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Activities</th>
                        <th>Timeslot</th>
                        <th>Quantity</th>
                        <th>Order Total</th>
                        <th class="text-muted">Order date</th>
                        <th> Review </th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_details' order.order_number %}"
                                            title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:6 }}
                                            </a>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                        <li class="small">
                                            {{ item.timeslot.activity }} 
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                        <li class="small">
                                            {{ item.timeslot.start_time.date }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                        <li class="small">
                                            {{ item.quantity }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>£{{ order.order_total }}</td>
                            <td class="text-muted">{{ order.date.date }}</td>
                            <td> 
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                        <li class="small">
                                            <a href="{% url 'add_review' activity_id=item.timeslot.activity.id %}">Leave a Review</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            You haven't made any bookings with us before.
        {% endif %}
    </div>
    <div class="d-flex flex-column col-12 col-lg-4 text-center p-1">
        <h3 class="text-center">Your bookings</h3>
        <hr>
        <div class="col-12">
            <h5 class="text-muted">Future Bookings </h5>
            {% if sorted_timeslot_future %}    
                <table class="table table-responsive table-sm text-center">
                    <thead>
                        <tr>
                            <th> Activity </th>
                            <th> Date </th>
                            <th> Time </th>
                            <th> Qty </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for timeslot, quantity in sorted_timeslot_future.items %}
                            <tr>
                                <td>{{ timeslot.activity }}</td>
                                <td>{{ timeslot.start_time.date }}</td>
                                <td>{{ timeslot.start_time.time }}</td>
                                <td>{{ quantity }}</td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p> No future bookings. </p>
            {% endif %}
        </div>
        <div class="col-12">
            <h5 class="text-muted"> Past Bookings </h5>
            {% if sorted_timeslot_past %}    
                <table class="table table-responsive table-sm text-center">
                    <thead>
                        <tr>
                            <th> Activity </th>
                            <th> Date </th>
                            <th> Time </th>
                            <th> Qty </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for timeslot, quantity in sorted_timeslot_past.items %}
                            <tr>
                                <td>{{ timeslot.activity }}</td>
                                <td>{{ timeslot.start_time.date }}</td>
                                <td>{{ timeslot.start_time.time }}</td>
                                <td>{{ quantity }}</td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p> No past bookings. </p>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}