{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tz %}

{% get_current_timezone as TIME_ZONE %}
{% timezone TIME_ZONE %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="main-image-title text-center">
        <div>
            <img class="hero-image d-none d-md-block" src="https://res.cloudinary.com/dxgaw1xya/image/upload/v1712834016/media/profile_m7ybti.jpg" class="card-img-top" alt="{{ activity.name }}">
            <img class="hero-image d-md-none" src="https://res.cloudinary.com/dxgaw1xya/image/upload/v1713648303/media/20240330_111756_ubponx.jpg" class="card-img-top" alt="{{ activity.name }}">
            <div class="image-fade-out"></div>
        <div>
    </div>
    <div class="container my-3 text-light">
        <div class="row">
            {% if request.user.is_superuser %}
                <h1 class="logo-font mb-4 gold-text">Welcome, Admin!</h1>
            {% else %}
                <h1 class="logo-font mb-4 gold-text">{{ request.user.username }}'s Profile</h1>
            {% endif %}
        </div>
        <div class="row">
            <div class="col col-md-5 mx-auto d-flex flex-column round-border">
                {% if request.user.is_superuser %}
                    <h3 class="mx-auto"> Site Management </h3>
                    <div class="manage-container p2">
                        <a class="profile-button" href="{% url 'manage_activities' %}">
                            Manage Activities
                        </a>
                        <a class="profile-button" href="{% url 'bookings' %}">
                            Bookings
                        </a>
                        <a class="profile-button bg-ft-danger" href="{% url 'account_logout' %}">
                            Sign Out
                        </a>
                    </div>
                {% else %}
                    <h3 class="mx-auto"> Manage Account </h3>
                    <div class="manage-container">
                        <a class="profile-button" href="{% url 'user_details' %}">
                            My Details
                        </a>
                        <a class="profile-button" href="{% url 'order_history' user_id=user.id %}">
                            Order History
                        </a>
                        <a class="profile-button" href="{% url 'user_reviews' %}">
                            My Reviews
                        </a>
                        <a class="profile-button bg-ft-danger" href="{% url 'account_logout' %}">
                            Sign Out
                        </a>
                    </div>
                {% endif %}
            </div>
            {% if not request.user.is_superuser %}
                <div class="col-12 col-md-6 mx-auto d-flex flex-column round-border">
                    <h3 class="mx-auto"> Upcoming Bookings </h3>
                    <div class="p-2 d-flex flex-column justify-content-center">
                        {% if sorted_timeslot_quantities %}
                            <table class="table table-responsive table-sm text-center">
                                <thead>
                                    <tr>
                                        <th class="col-4"> Activity </th>
                                        <th class="col-5"> Date & Time</th>
                                        <th class="col-3"> Qty </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for timeslot, quantity in sorted_timeslot_quantities.items %}
                                        <tr>
                                            <td class="col-4">{{ timeslot.activity }}</td>
                                            <td class="col-5">
                                                <div>{{ timeslot.start_time.date }}</div>
                                                <div>{{ timeslot.start_time.time }}</div>
                                            </td>
                                            <td class="col-3">{{ quantity }}</td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %} 
                            <p> You have no upcoming bookings. </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/profiles.js' %}"></script>
{% endblock %}

{% endtimezone %}
