{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">Order History</div>
        </div>
    </div>

{% endblock %}


{% block content %}
<a class="button mx-2" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
<div class="container d-flex light-text">
    <div class="d-flex flex-column col-12 text-center p-1">
        <h1 class="text-center">Reviews</h1>
        {% if reviews %}
            <table class="table table-responsive text-center">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Rating</th>
                        <th>Content</th>
                        <th>Date Created</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                        <tr>
                            <td>{{ review.activity }}</td>
                            <td>
                                {% if review.display_rating %}
                                    {% for star in review.display_rating %}
                                        {% if star == 'full' %}
                                            <i class="fa-solid fa-star"></i>
                                        {% elif star == 'half' %}
                                            <i class="fa-solid fa-star-half"></i>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ review.rating }}/5
                                {% endif %}
                            </td>
                            <td>{{ review.content|truncatechars:300 }}</td>
                            <td>
                                {{ review.review_time }}
                            </td>
                            <td>
                                <a href="{% url 'delete_review' review.id %}"><i class="fa-regular fa-trash-can"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {%else %}
            No reviews yet!
        {% endif %}
    </div>
</div>
{% endblock %}