{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="checkout-container light-text">
        <div class="row">
            <div class="col-12">
                <hr>
                <h2 class="logo-font mb-4">Thank you!</h2>
                <hr>
            </div>
        </div>
        <div class="order-confirmation">
            <div>
                <h3> Your order has been completed successfully. </h3>
                <div> Please review the order summary below to ensure your booking is correct. If there are any issues with the order please contact us at fasttrack@bikepark.com. </div>
            </div>
            <div class="col-12 col-md-8 mx-auto my-5">
                <h4> Order Summary - #{{ order.order_number }} </h4>
                <hr>
                {% if order_line_item %}
                    {% for item in order_line_item %}
                        <div class="d-flex">
                            <div class="col">
                                <h5>{{item.timeslot.activity.name}}</h5>
                                {% if item.timeslot %}
                                    <div>{{ item.timeslot.start_time.date }}</div>
                                    <div>{{ item.timeslot.start_time.time }}</div>
                                {% else %}
                                    Timeslot not available
                                {% endif %}
                                <p>£{{item.timeslot.activity.price|floatformat:2}}<p>
                            </div>
                            <div class="col-3">  
                                <p> Qty: {{ item.quantity }}</p>
                            </div>
                            <div class="col-3"> £ {{item.timeslot.activity.price| calc_subtotal:item.quantity }}</div>
                        </div>
                        <hr>
                    {% endfor %}
                    <div class="col-12 text-end">
                        <p><strong>Total: £{{order.order_total|floatformat:2}}</strong></p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% if from_profile %}
            <div class="row">
                <div class="col-12 col-lg-7 text-right">
                    <a href="{% url 'profile' %}" class="btn back-button">
                        <span class="icon mr-2">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="text-uppercase">Return to my profile</span>
                    </a>
                </div>
            </div>
            {% else %}
            <a href="{% url 'activities' %}" class="btn back-button">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

