/* Profile Page */
.manage-container {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 10px;
}

/* User Details Page */
.details-form-container {
    background-color: var(--grey);
    border-radius: 5px;
}

#profile-update-form > .form-control {
    color: #000;
}

#profile-update-form > input::placeholder {
    color: var(--grey);
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: var(--dark-grey);
    background-color: var(--light-grey);
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}

#id_default_country option:first-child {
    color: var(--gold);
}

#profile-update-form input {
    background-color: var(--light-grey);
    color: var(--grey);
    border-radius: 5px !important;
    padding: 0 10px;
    border: none;
    margin: 10px 0;
}

#profile-update-form input:focus {
    background-color: var(--dark-grey);
    color: var(--almost-white);
    border-radius: 5px !important;
    padding: 0 10px;
    border: none;
    margin: 10px 0;
}

.details-page {
    margin-bottom: 40px;
}

/* Order History */
.order-history-table {
    overflow-x: auto;
    width: 100%;
}

/* Add Review */
form {
    text-align: start !important;
}

legend {
    font-size: medium;
}

.review-form-container {
    background-color: var(--grey);
    width: fit-content;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.form-check .form-check-input {
    height: 20px;
}

#div_id_content {
    background-color: var(--dark-grey);
    padding: 10px;
    border-radius: 5px;;
}

/* Bookings Page */
.activity-select-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#activity-filter {
    background-color: var(--grey);
    border: none;
    border-radius: 5px;;
    width: 200px;
    cursor: pointer;
    color: var(--light-grey);
    padding: 1px;
    text-align: center;
}

#activity-filter:focus {
    background-color: var(--light-grey);
    border: none;
    border-radius: 5px;;
    width: 200px;
    cursor: pointer;
    color: var(--dark-grey)
}

.ui-datepicker table, 
.ui-datepicker th,
.ui-datepicker-week-end {
    background-color: var(--dark-grey);
    color: var(--almost-white)
}