{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="container light-text mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Basket</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if basket_items %}
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Activity</th>
                    <th scope="col">Timeslot</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in basket_items %}
                        <tr>
                            <td>
                                <h4>{{item.activity.name}}</h4>
                                <p class="small" >Item_id: {{item.timeslot.id}}</p>
                                <p>£{{item.activity.price|floatformat:2}}<p>
                            </td>
                            <td>
                                {% if item.timeslot %}
                                    {{ item.timeslot.start_time }}
                                {% else %}
                                    Timeslot not available
                                {% endif %}</td>
                            <td>  
                                <form class="form update-form" method="POST" action="{% url 'update_basket' item.item_id %}">   
                                    {% csrf_token %}                   
                                    <input type="number" id="quantity-input" name="quantity" data-item_id="{{ timeslot.id }}" data-initial-quantity="{{ item.quantity }}" value="{{ item.quantity }}" min="1" max="15" required>
                                </form>
                                <a class="update-link text-info"><small>Update</small></a>
                                <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                            </td>
                            <td> £{{item.activity.price| calc_subtotal:item.quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <p> Total: £{{total|floatformat:2}}
            </div>
            {% else %}
                <p class="lead mb-5">Your basket is empty</p>
            {% endif %}
            <a href="{% url 'activities' %}" class="btn">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase text-light">Keep Shopping</span>
            </a>
            {% if basket_items %}
            <a href="{% url 'checkout' %}" class="btn">
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
                <span class="text-uppercase text-light">Secure checkout</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
<div class="footer-block"><div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript"> 
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove_from_basket/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}