{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="container light-text mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Basket</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if basket_items %}
            <table class="table basket-table">
                <thead>
                  <tr>
                    <th scope="col">Activity</th>
                    <th scope="col" class="d-none d-md-table-cell ">Timeslot</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in basket_items %}
                        <tr class="basket-row">
                            <td>
                                <h4>{{item.activity.name}}</h4>
                                <div class="d-md-none d-table-cell">
                                    {% if item.timeslot %}
                                        <h6>{{ item.timeslot.start_time.date }}</h6>
                                        <h6>{{ item.timeslot.start_time.time }}</h6>
                                    {% endif %}
                                </div>
                                <p>£{{item.activity.price|floatformat:2}}<p>
                            </td>
                            <td class="d-none d-md-table-cell">
                                {% if item.timeslot %}
                                    <h6>{{ item.timeslot.start_time.date }}</h6>
                                    <h6>{{ item.timeslot.start_time.time }}</h6>
                                {% else %}
                                    Timeslot not available
                                {% endif %}</td>
                            <td class="align-middle">  
                                <form class="form update-form" method="POST" action="{% url 'update_basket' item.item_id %}">   
                                    {% csrf_token %}                   
                                    <input type="number" id="quantity-input-basket" name="quantity" data-item_id="{{ timeslot.id }}" data-initial-quantity="{{ item.quantity }}" value="{{ item.quantity }}" min="1" max="15" required>
                                </form>
                                <a class="update-link text-info"><small>Update</small></a>
                            </td>
                            <td class="align-middle"> 
                                <div class="d-flex flex-column">
                                    <p class="item-total"> £{{item.activity.price| calc_subtotal:item.quantity }} </p>
                                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><i class="fa-regular fa-circle-xmark"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-end m-3">
                <p> Basket Total: <strong>£{{total|floatformat:2}} </strong> </p>
            </div>
            {% else %}
                <p class="lead mb-5">Your basket is empty</p>
            {% endif %}
            <a href="{% url 'activities' %}" class="btn">
                <span class="text-uppercase text-light">Keep Shopping</span>
            </a>
            {% if basket_items %}
            <a class="btn bg-l-grey" href="{% url 'checkout' %}" class="btn">
                <span class="icon">
                    <i class="fas fa-lock text-light"></i>
                </span>
                <span class="text-uppercase text-light">Secure checkout</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript"> 
    // Update quantity on click
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/basket/remove_from_basket/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}