:root {
    --almost-white: #cacaca;
    --gold: #ceba72;
    --light-grey: #868686;
    --grey: #303030;
    --dark-grey: #1b1b1b;
    --opaque: rgba(255, 255, 255, 0);
    --opaque-grey: #3030302f;
    --opaque-dark-grey: #1b1b1b2e;
    --danger: #883d3d;
}

html {
    height: 100%;
}

body {
    background-color: var(--dark-grey);
    max-width: 1800px;
    margin: auto;
    height: 100%;
}

main {
    min-height: 80%;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--dark-grey);
    color: var(--gold) !important;
    font-size: x-large;
    padding: 10px;
    border-top: 5px solid;
    border-image: radial-gradient(var(--gold), var(--dark-grey)) 10;
}

a {
    color: var(--gold)
}

a:hover {
    color: var(--almost-white)
}


/* -------- INPUT FIELDS -------- */

input {
    background-color: var(--grey);
    color: var(--light-grey);
    border-radius: 5px !important;
    padding: 0 10px;
    border: none;
    margin: 10px 0;
}

input::placeholder {
    color: var(--light-grey);
    opacity: 1; /* Firefox */
    text-align: center;
}
  
input::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--almost-white);
    text-align: center;
}

input:focus {
    background-color: var(--light-grey);
    color: var(--dark-grey)
}

input:focus-visible {
    outline: none;
}

form {
    padding: 10px;
    display: flex;
    text-align: center;
}

form p{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 200px;
}

form ul {
    width: fit-content;
    margin: 20px auto;
}

form li {
    list-style: '-->  ';
    text-align: start;
}

label {
    margin: auto 10px;
}

.form-select {
    background-color: var(--grey);
    border: none;
    color: var(--light-grey);
    cursor: pointer;
}

.form-select:focus {
    background-color: var(--light-grey);
    border: none;
    color: var(--dark-grey)
}

/* -------- PRE-SET TEXT -------- */

.gold-text {
    color: var(--gold);
}

.muted-text {
    color: var(--light-grey);
}

.light-text {
    color: var(--almost-white);
}

/* -------- PRE-SET BACKGROUNDS -------- */
.bg-grey {
    background-color: var(--grey)!important;
    color: var(--dark-grey);
}

.bg-l-grey {
    background-color: var(--light-grey)!important;
    color: var(--dark-grey);
}

.bg-d-grey {
    background-color: var(--dark-grey)!important;
    color: var(--almost-white);
}

.bg-ft-danger {
    background-color: var(--danger) !important;
    color: var(--dark-grey);
}

.bg-ft-danger:hover {
    background-color: #522525 !important;
    color: var(--almost-white)!important;
}

.bg-ft-error {
    background-color: rgb(212, 163, 163) !important;
    color: var(--dark-grey)!important;
}

.bg-ft-success {
    background-color: rgb(163, 211, 163)!important;
    color: var(--dark-grey)!important;
}

.bg-ft-info {
    background-color: rgb(174, 207, 228)!important;
    color: var(--dark-grey)!important;
}

.bg-ft-warning {
    background-color: rgb(230, 212, 175) !important;
    color: var(--dark-grey)!important;
}
/* -------- PRE-SET CLASSES -------- */
.round-border {
    border-radius: 5px !important;
}

.pointer {
    cursor: pointer;
}

.hover-gold:hover {
    color: var(--gold) !important;
}
/* --------- BUTTONS --------- */

.box-shadow {
    box-shadow: 1px 1px 20px 10px var(--grey);
}

button {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    box-shadow: 1px 2px 1px 1px var(--grey);
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    width: fit-content;
    margin: 20px auto;
    transition: 0.3s;
    font-weight: 500;
}

button:hover {
    background-color: var(--almost-white);
}

button:hover i{
    color: var(--almost-white);
}

.profile-button {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    box-shadow: 1px 2px 1px 1px var(--grey);
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    width: 80%;
    margin: 3px auto;
    transition: 0.3s;
    font-weight: 500;  
    text-decoration: none !important;
}

.profile-button:hover {
    background-color: var(--dark-grey);
    color: var(--gold)
}

.btn-close {
    margin: auto 3px;
}

.back-button {
    color: var(--gold);
}

.back-button:hover {
    color: var(--almost-white);
}

.checkout-button {
    background-color: var(--light-grey);
    color: var(--almost-white);
}

.checkout-button:hover {
    background-color: var(--dark-grey);
    color: var(--gold) !important;
}

.activity-details-control {
    width: 150px;
    color: var(--gold);
    margin: 3px;
}

#edit_activity_details:hover {
    color: var(--almost-white);
    background-color: var(--dark-grey) !important;
}

/* --------- NAVBAR --------- */
nav {
    overflow: hidden;
}

.basket-link{
    width: 35px;
}

.nav-link:hover, 
.nav-link:focus {
    color: var(--gold) !important;
}

#navbar-logo-container {
    max-height: 100px;
}

#navbar-logo-container a{
    max-width: 100%;
    max-height: 100%;
}

#navbar-logo-container img{
    max-width: 100%;
    max-height: 100%;
    padding: 5px 10px;
}

.nav-underlay {
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: -1;
    border-top: 2px solid;
    border-image: radial-gradient(var(--gold), var(--dark-grey)) 10;
    background-image: linear-gradient(var(--dark-grey), var(--opaque-dark-grey));
    backdrop-filter: blur(2px);
}

.top-row-nav {
    color: var(--gold);
    max-height: 100px;
    border-radius:  10px 0  0 10px;
}

.lower-nav{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    min-height: fit-content;
    color: var(--almost-white);
}

.nav-link {
    color: var(--almost-white)
}

.nav-link:hover {
    color: var(--gold) !important;
}

.dropdown-menu[data-bs-popper] {
    position: static;
    top: 0; 
    left: 0;
    margin-top: 0;
    z-index: 20000;
}

#nav-dropdown {
    background-color: var(--dark-grey);
}

#nav-dropdown .dropdown-item {
    color: var(--gold);
}


.lower-nav a {
    color: var(--almost-white) !important;
}

.form-control{
    background-color: var(--grey);
    border-color: var(--dark-grey);
    color: var(--light-grey);
}

.form-control:focus {
    color: var(--dark-grey);
    box-shadow: 0 0 0 0 var(--dark-grey);
    background-color: var(--light-grey);
    border-color: var(--dark-grey);
}

.form-control::placeholder {
    color: var(--light-grey);
    opacity: 1;
}
  
.form-control::-ms-input-placeholder {
    color: var(--light-grey);
}

/* --------- Toasts --------- */

.toast {
    padding: 4px;
    max-width: 280px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.toast-message {
    margin: auto !important;
    width: 250px;
    padding-bottom: 21px;
}

/* -------- HOME -------- */
.hero-image {
    position: relative;
    translate:0 -40px;
    z-index: -40;
    width: 100%;
    object-fit: cover;
    min-height: 300px;
    max-height: 400px;
}

.hero-div {
    max-height: 400px;
    overflow: hidden;
}

.main-image-title p {
    color: var(--almost-white);
    padding: 0 4%;
}
/* -------- ACTIVITIES -------- */
#activities-list{
   background-color: var(--grey); 
   border-top: 5px solid;
   border-image: radial-gradient(var(--gold), var(--dark-grey)) 10;
}

#sort-selector,
#difficulty-filter {
    background-color: var(--grey) !important;
    border-color: var(--ligh-grey);
    height: 30px;
    color: var(--gold);
}

.activity {
    background-color: var(--dark-grey);
    border: 1px solid;
    border-image: linear-gradient(to top right, var(--dark-grey), var(--gold), var(--dark-grey)) 30;
    color: var(--almost-white);
    padding: 8px;
}

.activity i {
    color: var(--gold)    
}

.image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image-container:hover img {
    opacity: 0.5;
}

.image-container:hover .text {
    opacity: 0.8;
}

.image-container a {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.image-container img {
    min-height: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.text {
    position: absolute;
    top: 30%;
    right: 36%;
    background-color: var(--gold);
    color: var(--dark-grey);
    padding: 4px;
    opacity: 0;
    transition: .9s ease;
    backface-visibility: hidden;

}

.skill-level {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    max-width: fit-content;
    max-height: min-content;
}

.skill-title {
    background-color: var(--gold);
    color: var(--dark-grey);
    padding: 2px 5px;
}

.skill-value {
    background-color: var(--grey);
    color: var(--gold);
    padding: 2px 10px;
}

/* -------- ACTIVITY DETAILS -------- */
.further-details-container {
    padding: 40px 0;
}

.big-square {
    padding: 20px 10px;
    width: 100%;
    background-color: var(--grey);
    margin: 20px 0;
    color: var(--ligh-grey)
}

.activity-info-item i{
    width: 18px;
    margin-right: 5px;
}

.activity-details div h3 {
    color: var(--gold);
}

#timeslot-select {
    background-color: var(--light-grey);
    color: var(--dark-grey );
    cursor: pointer;
}

#quantity-input {
    background-color: var(--light-grey);
    color: var(--dark-grey)
}

.add-to-basket {
    background-color: var(--light-grey);
    color: var(--almost-white);
}

.add-to-basket:hover {
    background-color: var(--dark-grey) !important;
    color: var(--almost-white);
}

#customer-reviews{
    padding: 40px 0;
    border-top: 5px solid;
    border-image: radial-gradient(var(--gold), var(--dark-grey)) 10;
    background-color: var(--grey);  
}   

.review-item{
    background-color: var(--dark-grey);
    margin: 5px;
    border-radius: 5px;
}

.review-item p,
.review-item div {
    padding: 5px;
    margin: 0;
}

.review-item-rating {
    border-bottom: 1px solid;
    border-image: radial-gradient(var(--gold), var(--dark-grey)) 10;
}

.review-item-content {
    border-bottom: 1px solid;
    border-image: radial-gradient(var(--gold), var(--dark-grey)) 10;
}

.form-select:focus {
    border-color: var(--gold);
    outline: 0;
    box-shadow: 0 0 0 2px var(--gold);
}

.list-group {
    background-color: var(--dark-grey) !important;
    border-radius: 5px;
}

.list-group-item {
    color: var(--almost-white);
    background-color: rgba(255, 255, 255, 0);
    border-color: var(--grey);
}

/* -------- Edit Activity -------- */
#new-image {
    max-width: 90%;
}

/* -------- Basket --------*/
.update-link:hover, 
.remove-item:hover  {
    cursor: pointer;
}

.remove-item {
    font-size: 20px;
}

.update-form {
    padding: 0;
}

.item-total {
    padding: 3px;
    margin: 7px 0;
}

#quantity-input-basket {
    background-color: var(--almost-white);
    color: var(--dark-grey);
    width: 100%;
}

table, th, td {
    border-radius: 10px;
    border-color: var(--dark-grey);
    background-color: var(--grey);
}

.table>:not(caption)>*>* {
    background-color: var(--grey);
    color: var(--almost-white);
}

.basket-row {
    vertical-align: middle;
    justify-content: center;
}

.align-middle {
    text-align: center;
}

/* -------- Checkout -------- */
.checkout-container{
    width: 98%;
    padding: 20px;
    margin: auto;
}

.checkout-container-details {
    background-color: var(--grey) !important;
    border-radius: 5px;
    height: fit-content;
    margin: auto;
    padding: 20px 10px;
}

.checkout-container-summary {
    background-color: var(--grey) !important;
    border-radius: 5px;
    height: fit-content;
    margin: 0 auto;
    padding: 20px 10px;
}

/* -------- Allauth -------- */
.full-page-image {
    position: absolute;
    height: 80%;
    object-fit: cover;
    z-index: -60;
    opacity: 0.5;
}


/* -------- MEDIA QUERIES -------- */
@media only screen and (min-width: 576px) {
  
}