:root {
    --almost-white: #cacaca;
    --gold: #ceba72;
    --dark-text: #1b1b1b;
    --light-grey: #868686;
    --grey: #303030;
    --dark-grey: #1b1b1b;
    --opaque: rgba(255, 255, 255, 0);
    --opaque-grey: #3030302f;
    --opaque-dark-grey: #1b1b1b2e;
    --danger: rgb(136, 61, 61);

}

html {
    height: 100vh;
}

body {
    background-color: var(--dark-grey);
    max-width: 1400px;
    margin: auto;
    height: 100%;
}

a {
    color: var(--gold)
}

p {
    color: var(--almost-white)
}

/* -------- INPUT FIELDS -------- */

input {
    background-color: var(--grey);
    color: var(--light-grey);
    border-radius: 5px !important;
    padding: 0 10px;
    border: none;
    margin: 10px 0;
}

input::placeholder {
    color: var(--light-grey);
    opacity: 1; /* Firefox */
    text-align: center;
}
  
input::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--almost-white);
    text-align: center;
}

input:focus {
    background-color: var(--light-grey);
    color: var(--dark-grey)
}

input:focus-visible {
    outline: none;
}

form {
    padding: 10px;
    display: flex;
    text-align: center;
}

form p{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 200px;
}

form ul {
    width: fit-content;
    margin: 20px auto;
}


form li {
    list-style: '-->  ';
    text-align: start;
}

label {
    margin: 0 10px;
}
/* -------- PRE-SET TEXT -------- */

.gold-text {
    color: var(--gold)
}

.muted-text {
    color: var(--light-grey)
}

.light-text {
    color: var(--almost-white)
}

/* -------- PRE-SET BACKGROUNDS -------- */
.bg-grey {
    background-color: var(--grey);
}

.bg-l-grey {
    background-color: var(--light-grey);
}

.bg-d-grey {
    background-color: var(--dark-grey);
}

.bg-red {
    background-color: var(--danger) !important;
}

/* -------- PRE-SET CLASSES -------- */
.round-border {
    border-radius: 5px !important;
}

.pointer {
    cursor: pointer;
}

/* --------- BUTTONS --------- */

.box-shadow {
    box-shadow: 1px 1px 20px 10px var(--grey);
}

button {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    box-shadow: 1px 2px 1px 1px var(--grey);
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    width: fit-content;
    margin: 20px auto;
    transition: 0.3s;
    font-weight: 500;
}

button:hover {
    background-color: var(--almost-white);
}

button:hover i{
    color: var(--almost-white);
}

.profile-button {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    box-shadow: 1px 2px 1px 1px var(--grey);
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    width: 80%;
    margin: 3px auto;
    transition: 0.3s;
    font-weight: 500;  
    text-decoration: none !important;
}

.profile-button:hover {
    background-color: var(--almost-white);
}

/* --------- NAVBAR --------- */
nav {
    overflow: hidden;
}

.nav-link:hover {
    color: var(--almost-white) !important;
}

#navbar-logo-container {
    max-height: 100px;
}

#navbar-logo-container a{
    max-width: 100%;
    max-height: 100%;
}

#navbar-logo-container img{
    max-width: 100%;
    max-height: 100%;
    padding: 5px 10px;
}

.nav-underlay {
    position: absolute;
    width: 110%;
    height: 100%;
    z-index: 2220;
}

.top-row-nav {
    color: var(--gold);
    max-height: 100px;
    border-radius:  10px 0  0 10px;
}

#search-button{
    background-color: var(--dark-grey);
    box-shadow: none;
}

.lower-nav{
    border-top: 2px solid;
    border-image: radial-gradient(var(--gold), var(--dark-grey)) 10;
    background-image: linear-gradient(var(--dark-grey), var(--opaque-dark-grey));
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-evenly;
    min-height: fit-content;
}

.dropdown-menu[data-bs-popper] {
    position: static;
    top: 0; 
    left: 0;
    margin-top: 0;
    z-index: 20000;
}

.lower-nav a {
    color: var(--almost-white) !important;
}

.form-control {
    background-color: var(--grey);
    border-color: var(--dark-grey);
    color: var(--light-grey);
}

.form-control:focus {
    color: var(--dark-grey);
    box-shadow: 0 0 0 0 var(--dark-grey);
    background-color: var(--light-grey);
    border-color: var(--dark-grey);
}

.form-control::placeholder {
    color: var(--light-grey);
    opacity: 1;
}
  
.form-control::-ms-input-placeholder {
    color: var(--light-grey);
}


/* -------- FOOTER -------- */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--dark-grey);
    color: white;
    text-align: center;
 }

/* -------- HOME -------- */
.hero-image {
    position: relative;
    translate:0 -40px;
    z-index: -40;
    width: 100%;
    object-fit: cover;
    min-height: 300px;
    max-height: 400px;
}

.hero-div {
    max-height: 400px;
    overflow: hidden;
}

.image-fade-out {
    position: absolute;
    height: 150px;
    width: 100%;
    background-image: linear-gradient(to top, var(--dark-grey), var(--opaque));
    translate: 0 -189px;
}

.main-image-title p {
    color: var(--almost-white);
    padding: 0 4%;
}
/* -------- ACTIVITIES -------- */
#activities-list{
   background-color: var(--grey); 
   border-top: 5px solid;
   border-bottom: 5px solid;
   border-image: radial-gradient(var(--gold), var(--dark-grey)) 10;
}

#sort-selector,
#difficulty-filter {
    background-color: var(--grey) !important;
    border-color: var(--ligh-grey);
    height: 30px;
    color: var(--gold);
}

.activity {
    background-color: var(--dark-grey);
    border: 1px solid;
    border-image: linear-gradient(to top right, var(--dark-grey), var(--gold), var(--dark-grey)) 30;
    color: var(--almost-white);
    padding: 8px;
}

.activity i {
    color: var(--gold)    
}

.image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image-container:hover img {
    opacity: 0.5;
}

.image-container:hover .text {
    opacity: 0.8;
}

.image-container a {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.image-container img {
    min-height: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.text {
    position: absolute;
    top: 30%;
    right: 36%;
    background-color: var(--gold);
    color: var(--dark-grey);
    padding: 4px;
    opacity: 0;
    transition: .9s ease;
    backface-visibility: hidden;

}

.skill-level {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    max-width: fit-content;
    max-height: min-content;
}

.skill-title {
    background-color: var(--gold);
    color: var(--dark-grey);
    padding: 2px 5px;
}

.skill-value {
    background-color: var(--grey);
    color: var(--gold);
    padding: 2px 10px;
}

/* -------- ACTIVITY DETAILS -------- */

.big-square {
    padding: 10px;
    width: 100%;
    background-color: var(--almost-white);
}

.activity-info-item i{
    width: 18px;
    margin-right: 5px;
}

.activity-details div h3 {
    color: var(--gold);
}

/* -------- Basket --------*/
.update-link:hover, 
.remove-item:hover  {
    cursor: pointer;
}

/* -------- Allauth -------- */
.full-page-image {
    position: absolute;
    height: 80%;
    object-fit: cover;
    z-index: -60;
    opacity: 0.5;
}


/* -------- MEDIA QUERIES -------- */
@media only screen and (min-width: 576px) {
  
}