{% load static %}

<header>
    <nav class="navbar p-0">
      <div class="container-fluid p-0">
        <!-- Nabvar logo -->
        <div id="navbar-logo-container" class="d-flex col-12 justify-content-center col-sm-4 m-auto bg-lg-grey"> 
          <a class="navbar-brand d-flex justify-content-center mx-auto" href="{% url 'home' %}">
            <img class="m-auto" src="https://res.cloudinary.com/dxgaw1xya/image/upload/v1712833481/media/logo-no-background_f5c2zq.png" alt="Fasttrack logo">
          </a>
        </div>
        <!-- Navbar top row -->
        <div class="col-12 col-sm-8 ">         
          <div class="top-row-nav d-flex px-2 align-items-center justify-content-center justify-content-sm-end">
            <!-- Search -->
            <form id="search-form"class="d-flex col mx-auto" role="search" method="GET" action="{% url 'activities' %}">
              <input class="form-control round-border me-2" type="search" name="q" placeholder="&#xf002; Search" style="font-family: FontAwesome, Arial; font-style: normal">
            </form>
            {% if not user.is_superuser %}
              {% if user.is_authenticated %}                
                <a class="nav-link m-3" href="{% url 'profile' %}">
                  <i class="fa-solid fa-user"></i>               
                </a>
              {% else %}
                <a class="nav-link m-3" href="{% url 'account_login' %}">
                  <i class="fa-solid fa-user"></i>               
                </a>
              {% endif %}
              <a class="nav-link basket-link m-3" aria-current="page" href="{% url 'view_basket' %}">
                <i class="fa-solid fa-basket-shopping"></i>
                <span id="basket-counter">
                  {% if timeslot_count < 100 %} 
                    {{ timeslot_count }}
                  {% else %}
                    99+
                  {% endif  %}
                  </span>
              </a>
            {% else %}
                <a class="nav-link m-3" href="{% url 'profile' %}">
                  <i class="fa-solid fa-screwdriver-wrench"></i>               
                </a>
            {% endif %}
          </div>
        </div>
        <!-- Navbar bottom row -->
        <div class="nav d-flex col-12">
          <div class="nav nav-underlay"></div>
          <ul class="nav d-flex col-12 justify-content-around">
            <!-- Book Products-->
            <li class="nav-item dropdown-center">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Book
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'activities' %}?category=day_passes">Day Passes</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'activities' %}?category=courses">Courses</a></li>
                <li><a class="dropdown-item" href="{% url 'activities' %}?category=private_coaching">Private Coaching</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'activities' %}?category=events">Events</a></li>
              </ul>
            </li>
            <!-- About Section-->
            <li class="nav-item">
              <a class="nav-link" href="#">
                About
              </a>
            </li>
            <!-- Events -->
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
