{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Heading, difficulty and description -->
    <div class="main-image-title">
        <div>
            {% if activity.image %}
                <img class="hero-image" src="{{ activity.image.url }}" alt="{{ activity.name }}">
                <div class="image-fade-out"></div>                                  
            {% elif category.image %}
                <img class="hero-image" src="{{ category.image.url }}" alt="{{ activity.name }}">
                <div class="image-fade-out"></div>
            {% else %}
                <img class="hero-image" src="https://res.cloudinary.com/dxgaw1xya/image/upload/v1712834118/media/activities_kmhbyd.jpg" alt="{{ activity.name }}">
                <div class="image-fade-out"></div>
            {% endif %}
            <div class="mb-3 d-flex flex-row justify-content-between mx-3">
                <a class="button activity-details-control mx-5" href="{% url 'activities' %}?category={{ category }}" aria-label="Go back to the 'activities' page">Go Back</a>
                {% if request.user.is_superuser %}
                    <div>
                        <a class="btn bg-grey activity-details-control" id="edit_activity_details" href="{% url 'edit_activity' activity.id %}" aria-label="Continue to edit activity.">Edit Activity <i class="fa-regular fa-pen-to-square"></i></a>
                        <a class="btn bg-ft-danger activity-details-control" href={% url 'delete_activity' activity.id %} aria-label="Continue to delete activity"> Delete Activity <i class="fa-regular fa-trash-can"></i></a> 
                    </div>
                {% endif %}
            </div>
        </div>
        <h1 class="gold-text text-center"><em>{{ activity.name}}</em></h1>
        <div class="d-flex justify-content-center my-4" >
            <div class="skill-level round-border">
                <div class="skill-title">
                    <em> Skill Level: </em>
                </div>
                <div class="skill-value">
                    <strong>{{activity.difficulty}}</strong>
                </div>
            </div>
        </div>
        <div class="text-center col-8 mx-auto"> 
            <p> {{ activity.description }} </p>
        </div>
    </div>
    <!-- Further details -->
    <div class="further-details-container container-fluid d-flex flex-wrap text-center muted-text">
        <!-- Activity Details -->
        <div class="activity-details d-flex flex-column col-12 col-lg-6 m-auto">
            <!-- Info -->
            <div class="d-flex flex-column mx-auto py-3">
                <h2>Info <i class="fa-solid fa-circle-info ms-2"></i> </h2>
                <!-- Price -->
                {% if activity.price %}
                <div class="d-flex px-2 activity-info-item">
                    <div class="circle-icon px-1"><i class="fa-solid fa-sterling-sign"></i></div>
                    <p class="card-text px-1">{{activity.price}}</p>
                </div>
                {% endif %}
                <!-- Duration -->
                {% if activity.get_duration %}
                <div class="d-flex px-2 activity-info-item">
                    <div class="circle-icon px-1"><i class="fa-regular fa-hourglass-half"></i></div>
                    {% if activity.get_duration.1 is True %}
                        <p class="card-text px-1">{{activity.get_duration.0}}</p>
                    {% else %}
                        <p class="card-text px-1">{{activity.get_duration.0}} hours</p>
                    {% endif %}
                </div>
                {% endif %}
                <!-- Info -->
                {% if activity.capacity and activity.capacity <= 10 %}
                <div class="d-flex px-2 activity-info-item">
                    <div class="circle-icon px-1"><i class="fa-solid fa-user-group"></i></div>
                    <p class="card-text px-1">{{activity.capacity}}</p>
                </div>
                {% endif %}
            </div>
            <!-- Requirements -->
                <div class="d-flex flex-column mx-auto py-3 ">
                <div class="d-flex justify-content-center" >
                    <h2>Requirements <i class="fa-solid fa-circle-exclamation ms-2"></i></h2>
                </div>
                <div class="d-flex px-2 activity-info-item">
                    <p class="card-text px-1 mx-auto">{{activity.requirements}}</p>
                </div>
                <p> Please read through the equipment requirements before booking. </p>
                <a href={% url 'requirements' %} aria-label="View the minimum equipment requirements."> Equipment Requirements </a>
            </div>
            <!-- Details -->
            <div class="d-flex flex-column mx-auto py-3 ">
                <div class="d-flex justify-content-center" >
                    <h2>Details <i class="fa-solid fa-magnifying-glass-plus ms-2"></i></h2>
                </div>
                <div class="d-flex px-2 activity-info-item">
                    <p class="card-text px-1 mx-auto">{{activity.details}}</p>
                </div>
            </div>
        </div>
        <!-- Calander -->
        <div class="col-11 col-lg-5 m-auto">
            <div class="big-square round-border">
                <h2 class="text-light"> {% if request.user.is_superuser %} Manage Timeslots {% else %} Book your space! {% endif %} </h2>
                {% if not request.user.is_superuser %}
                    <form class="form d-flex flex-column" id="basket-form" action="{% url 'add_to_basket' activity.id %}" method="POST">
                        {% csrf_token %}
                        {% if future_timeslots %}
                            <select name="timeslot" id="timeslot-select" class="form-select" required aria-label="Default select example">
                                <option selected value="">Select a timeslot</option>
                                {% for timeslot in activity.timeslot.all %}
                                    {% if timeslot.available_capacity > 0 and timeslot.is_future_timeslot %}
                                        <option value="{{ timeslot.id }}" data-available-capacity="{{ timeslot.available_capacity }}">
                                            {{ timeslot.start_time.date }}
                                            {% if activity.get_duration.1 %}
                                                | All Day
                                            {% else %}
                                                {{ timeslot.start_time.time }}
                                            {% endif %}
                                            | {{ timeslot.available_capacity }} spaces available
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="quantity-input" class="text-light" >Quantity *</label>
                            <input type="number" id="quantity-input" name="quantity" data-item_id="{{ timeslot.id}}" value="1" min="1" max="10" required>
                            <div class="col-12">
                                <a href="{% url 'activities' %}" class="btn gold-text" aria-label="Redirect to the 'activities' page to keep browsing.">
                                    <span>Keep Browsing</span>
                                </a>
                                <input type="submit" class="btn add-to-basket text-light" value="Add to Basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% else %}
                            <p>No timeslots available for {{ activity }} </p>
                        {% endif %}
                    </form>
                {% elif request.user.is_superuser %}
                    <div class="d-flex justify-content-between">
                        <a class="btn m-2 activity-details-control bg-d-grey" href="{% url 'add_timeslot' %}" aria-label="Continue to add timeslot">
                            Add Timeslot <i class="fa-regular fa-calendar-plus"></i>
                        </a>
                    </div>
                    <div>
                        <ul class="list-group list-group-flush">
                            {% if future_timeslots %}
                                {% for timeslot in future_timeslots %}
                                    <li class="list-group-item"> 
                                        <p>
                                            <strong>{{ timeslot.start_time.date }}</strong>
                                            {% if activity.get_duration.1 %}
                                                | All Day
                                            {% else %}
                                                {{ timeslot.start_time.time }}
                                            {% endif %}
                                            | Spaces booked: {{ timeslot.spaces_booked }}/{{ timeslot.total_capacity }}
                                            <a class="mx-3" href={% url 'delete_timeslot' timeslot.id %} aria-label="Continue to delete timeslot."><i class="fa-regular fa-trash-can text-danger"></i></a> 
                                            <a href={% url 'edit_timeslot' timeslot.id %} aria-label="Continue to edit timeslot."> 
                                                <i class="fa-solid fa-pen"></i>
                                            </a> 
                                        </p>
                                    </li>
                                {% endfor %}
                            {% else %}
                                No future timeslots 
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Reviews -->
    <div id="customer-reviews" class="d-flex flex-column align-items-center">
        <div>
            <h3 class="text-center text-light"> Customer Reviews </h3>
        </div>
        {% if reviews %}
            <div class="d-flex flex-column align-items-center reviews-display col-11 text-center">
                {% if activity.average_rating %}
                <div class="d-flex text-center gold-text col-12 justify-content-center">
                    <h4 class="mx-3"> 
                        Average Rating:
                    </h4> 
                    <h4 class="mx-3"> 
                        {% for star in activity.average_rating.1 %}
                            {% if star == 'full' %}
                                <i class="fa-solid fa-star"></i>
                            {% elif star == 'half' %}
                                <i class="fa-solid fa-star-half"></i>
                            {% endif %}
                        {% endfor %}
                        ({{activity.review_count.0}} {% if activity.review_count.0 == 1 %} review {% else %} reviews {% endif %})
                    </h4>
                </div>
                {% endif %}
                {% for review in reviews %}
                <div class="d-flex flex-column align-items-center col-12 col-md-8 review-item">
                    <div class="d-flex col-12 justify-content-center review-item-rating">
                        <div>
                            {% for star in review.display_rating %}
                                {% if star == 'full' %}
                                    <i class="fa-solid fa-star gold-text"></i>
                                {% elif star == 'half' %}
                                    <i class="fa-solid fa-star-half gold-text"></i>
                                {% endif %}
                            {% endfor %}        
                        </div>
                        <p class="light-text" ><em>from: </em>{{ review.reviewer }}</p> 
                    </div>
                    {% if review.content %}
                        <div class="d-flex col-12 justify-content-around review-item-content">
                            <i class="fa-solid fa-quote-left muted-text"></i> 
                            <p class="light-text" >{{ review.content }}</p>
                            <i class="fa-solid fa-quote-right muted-text"></i>
                        </div>
                    {% endif %}
                    {% if review.review_time %}
                        <div class="d-flex col-12 justify-content-end review-item-date muted-text">
                            <small>{{ review.review_time }}</small>
                        </div>
                    {% endif %}
                </div>   
                {% endfor %}
            </div>
        {% else %}
            <p class="text-light">There are currently no reviews for this activity.</p>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }} 
    <script>
        if (document.getElementById('basket-form')) {
            document.getElementById('basket-form').addEventListener('submit', function(event) {
                var timeslotSelect = document.getElementById('timeslot-select');
                var quantityInput = document.getElementById('quantity-input');
            
                if (timeslotSelect.value === '' || quantityInput.value === '') {
                    event.preventDefault();
                    alert('Please select a timeslot.');
                }
            });
        }

        // Trigger the modal when the button is clicked
        if (document.querySelectorAll('.modal-trigger')) {
            // Open Modal
            let modalTrigger = document.querySelectorAll('.modal-trigger');
            modalTrigger.forEach(function (event) {
                event.addEventListener('click', function () {
                    $('#deleteModal_{{activity.id}}').modal('show');
                });
            });
            // Close Modal
            let closeButtons = document.querySelectorAll('.close-modal');
            closeButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    $('#deleteModal_{{activity.id}}').modal('hide');
                });
            });
        }
    </script>
{% endblock %}

