{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Heading, difficulty and description -->
    <div class="main-image-title">
        <div>
            {% if activity.image %}
                <img class="hero-image" src="{{ activity.image.url }}" class="card-img-top" alt="{{ activity.name }}">
                <div class="image-fade-out"></div>                                  
            {% elif category.image %}
                <img class="hero-image" src="{{ category.image.url }}" class="card-img-top" alt="{{ activity.name }}">
                <div class="image-fade-out"></div>
            {% else %}
                <img class="hero-image" src="https://res.cloudinary.com/dxgaw1xya/image/upload/v1712834118/media/activities_kmhbyd.jpg" class="card-img-top" alt="{{ activity.name }}">
                <div class="image-fade-out"></div>
            {% endif %}
            <div class="d-flex flex-row justify-content-between mx-3">
                <a class="button" href="{% url 'activities' %}?category={{ category }}">Go Back</a>
                {% if request.user.is_superuser %}
                <div class="d-flex flex-column text-end "> 
                    <a href="{% url 'edit_activity' activity.id %}">Edit Activity<i class="fa-regular fa-pen-to-square"></i></a>
                    <a class="text-danger" href="{% url 'delete_activity' activity.id %}">Delete Activity<i class="fa-regular fa-trash-can"></i></a>
                </div>
                {% endif %}
            </div>
        <div>
        <h1 class="gold-text text-center"><em>{{ activity.name}}</em></h1>
        <div class="d-flex justify-content-center my-4" >
            <div class="skill-level round-border">
                <div class="skill-title">
                    <em> Skill Level: </em>
                </div>
                <div class="skill-value">
                    <strong>{{activity.difficulty}}</strong>
                </div>
            </div>
        </div>
        <div class="text-center col-8 mx-auto"> 
            <p> {{ activity.description }} </p>
        </div>
    </div>
    <!-- Further details -->
    <div class="container-fluid d-flex flex-wrap text-center muted-text">
        <!-- Activity Details -->
        <div class="activity-details d-flex flex-column col-12 col-lg-4 m-auto">
            <!-- Info -->
            <div class="d-flex flex-column mx-auto py-3">
                <h3>Info <i class="fa-solid fa-circle-info ms-2"></i> </h3>
                <!-- Price -->
                {% if activity.price %}
                <div class="d-flex px-2 activity-info-item">
                    <div class="circle-icon px-1"><i class="fa-solid fa-sterling-sign"></i></div>
                    <p class="card-text px-1">{{activity.price}}</p>
                </div>
                {% endif %}
                <!-- Duration -->
                {% if activity.get_duration %}
                <div class="d-flex px-2 activity-info-item">
                    <div class="circle-icon px-1"><i class="fa-regular fa-hourglass-half"></i></div>
                    <p class="card-text px-1">{{activity.get_duration.0}}</p>
                </div>
                {% endif %}
                <!-- Info -->
                {% if activity.capacity and activity.capacity <= 10 %}
                <div class="d-flex px-2 activity-info-item">
                    <div class="circle-icon px-1"><i class="fa-solid fa-user-group"></i></div>
                    <p class="card-text px-1">{{activity.capacity}}</p>
                </div>
                {% endif %}
            </div>
            <!-- Requirements -->
                <div class="d-flex flex-column mx-auto py-3 ">
                <div class="d-flex justify-content-center" >
                    <h3>Requirements <i class="fa-solid fa-circle-exclamation ms-2"></i></h3>
                </div>
                <div class="d-flex px-2 activity-info-item">
                    <p class="card-text px-1">{{activity.requirements}}</p>
                </div>
                <p> Please read through the equipment requirements before booking. </p>
                <a href="#"> Equipment Requirements </a>
            </div>
            <!-- Details -->
            <div class="d-flex flex-column mx-auto py-3 ">
                <div class="d-flex justify-content-center" >
                    <h3>Details <i class="fa-solid fa-magnifying-glass-plus ms-2"></i></h3>
                </div>
                <div class="d-flex px-2 activity-info-item">
                    <p class="card-text px-1">{{activity.details}}</p>
                </div>
            </div>
        </div>
        <!-- Calander -->
        <div class="col-12 col-lg-7 m-auto">
            <div class="big-square">
                <h3> {% if request.user.is_superuser %} Manage Timeslots {% else %} Timeslots {% endif %} </h3>
                {% if not request.user.is_superuser %}
                    <form class="form d-flex flex-column" id="basket-form" action="{% url 'add_to_basket' activity.id %}" method="POST">
                        {% csrf_token %}
                        {% if future_timeslots %}
                            <select name="timeslot" id="timeslot-select" class="form-select" required aria-label="Default select example">
                                <option selected value="None">Select a timeslot</option>
                                {% for timeslot in activity.timeslot.all %}
                                    {% if timeslot.available_capacity > 0 and timeslot.is_future_timeslot %}
                                    <option value="{{ timeslot.id }}" data-available-capacity="{{ timeslot.available_capacity }}">
                                        <strong>{{ timeslot.start_time.date }}</strong>
                                        {% if activity.get_duration.1 %}
                                             | All Day
                                        {% else %}
                                            {{ timeslot.start_time.time }}
                                        {% endif %}
                                        <span><em> | {{ timeslot.available_capacity }} spaces available</em></span></option>
                                    {% else %}
                                        No timeslots available
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label name="quantity" for="quantity" required >Quantity *</lable>
                            <input type="number" id="quantity-input" name="quantity" data-item_id="{{ timeslot.id}}" value="1" min="1" max="{{timeslot.available_capacity}}" required>
                            <p id="quantity-error" class="error-message text-warning"></p>
                            <div class="col-12">
                                <a href="{% url 'activities' %}" class="btn">
                                    <span>Keep Browsing</span>
                                </a>
                                <input type="submit" class="btn" value="Add to Basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% else %}
                            <p>No timeslots available for {{ activity }} </p>
                        {% endif %}
                    </form>
                {% elif request.user.is_superuser %}
                    <div class="d-flex justify-content-between">
                        <a class="btn m-2" href="{% url 'add_timeslot' %}">
                            Add Timeslot <i class="fa-regular fa-calendar-plus"></i>
                        </a>
                    </div>
                    <div>
                        <ul class="list-group list-group-flush">
                            {% if future_timeslots %}
                                {% for timeslot in future_timeslots %}
                                    <li class="list-group-item"> 
                                        <strong>{{ timeslot.start_time.date }}</strong>
                                        {% if activity.get_duration.1 %}
                                             | All Day
                                        {% else %}
                                            {{ timeslot.start_time.time }}
                                        {% endif %}
                                         | Spaces booked: {{ timeslot.spaces_booked }}/{{ timeslot.available_capacity }}
                                        <a class="mx-3"href={% url 'delete_timeslot' timeslot.id %}><i class="fa-regular fa-trash-can text-danger"></i></a> 
                                        <a href={% url 'edit_timeslot' timeslot.id %}> 
                                            <i class="fa-solid fa-pen"></i>
                                        </a> 
                                    </li>
                                {% endfor %}
                            {% else %}
                                No future timeslots 
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Reviews -->
    <div>
        <h3> Customer Reviews </h3>
    </div>
    {% if reviews %}
        <div class="d-flex flex-column reviews-display">
            {% if activity.average_rating %}
            <div class="d-flex">
                <p> Average Rating: </p>
                <div>
                    {% for star in activity.average_rating.1 %}
                        {% if star == 'full' %}
                            <i class="fa-solid fa-star"></i>
                        {% elif star == 'half' %}
                            <i class="fa-solid fa-star-half"></i>
                        {% endif %}
                    {% endfor %}
                    ({{activity.review_count.0}} {% if activity.review_count.0 == 1 %} review {% else %} reviews {% endif %})
                </div>
            </div>
            {% endif %}
            {% for review in reviews %}
            <div class="d-flex flex-column review-item">
                <div class="d-flex flex-row">
                {% for star in activity.average_rating.1 %}
                    {% if star == 'full' %}
                        <i class="fa-solid fa-star"></i>
                    {% elif star == 'half' %}
                        <i class="fa-solid fa-star-half"></i>
                    {% endif %}
                    {% endfor %}        
                </div>
                <p>{{ review.content }}</p>
                <p><em>by: </em>{{ review.reviewer }}</p> 
            </div>   
            {% endfor %}
        </div>
    {% else %}
        There are currently no reviews for this activity.
    {% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }} 
    <script>
        if (document.getElementById('basket-form')) {
            document.getElementById('basket-form').addEventListener('submit', function(event) {
                var timeslotSelect = document.getElementById('timeslot-select');
                var quantityInput = document.getElementById('quantity-input');
            
                if (timeslotSelect.value === 'None' || quantityInput.value === '') {
                    event.preventDefault();
                    alert('Please select a timeslot.');
                }
            });
        };
    </script>
{% endblock %}

