{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <a class="button" href="{% url 'activity_details' activity.id %}">Go Back</a>
    <div class="row">
        <div class="col text-light">
            <hr>
            <h2 class="logo-font mb-4">Manage Timeslot</h2>
            <hr>
            <h5> Editing: {{ timeslot }} </h5>
            <form method="POST" action="{% url 'edit_timeslot' timeslot.id %}" class="form d-flex flex-column" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-flex align-items-center col-6 m-auto">
                    <a class="button" href="{% url 'activity_details' activity.id %}"> Cancel </a>
                    <button class="btn text-light" type="submit">Update Timeslot</button>
                    <a class="btn btn-danger" href={% url 'delete_timeslot' timeslot.id %}> 
                        Delete Timeslot
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer-block"><div>
{% endblock %}