{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <a class="button" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
        <div class="edit-activities-container light-text">
            <div class="row">
                <div class="col-12">
                    <hr>
                    <h2 class="logo-font mb-4">Checkout</h2>
                    <hr>
                </div>
            </div>
            <div class="d-flex flex-column">
                <h5 class="text-light"> Edit Activity </h5>
                <form method="POST" action="{% url 'edit_activity' activity.id %}" class="form f-flex flex-column  text-light" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <button class="btn col-8 checkout-button text-light mx-3" type="submit">Update Product</button>
                        <div>
                            <a class="btn checkout-button bg-d-grey mx-3" href="{{ request.META.HTTP_REFERER }}"> Cancel </a>
                            <a class="mx-auto btn bg-ft-danger text-light" href={% url 'delete_activity' activity.id %}> Delete Activity <i class="fa-regular fa-trash-can"></i></a> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}