{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if request.user.is_superuser %}
    <div class="container mb-2">
        <a class="button mx-2" href="{% url 'profile' %}">Go Back</a>
        <div class="row">
            <div class="col text-light">
                <hr>
                <h2 class="logo-font mb-4 text-light">Manage Activities</h2>
                <hr>
                <a class="btn checkout-button my-2" href="{% url 'add_activity' %}">
                    <i class="fa-solid fa-circle-plus"></i> Add Activity
                </a>
                {% if activities %}
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col"> Activity</th>
                            <th class="col d-none d-md-table-cell"> Category </th>
                            <th class="col"> Price</th>
                            <th class="col d-none d-md-table-cell"> Duration</th>
                            <th class="col"> Capacity</th>
                            <th class="col d-none d-md-table-cell"> Difficulty </th>
                            <th class="col"> Edit/Del</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for activity in activities %}
                            <tr>
                                <td class="col"> <a href="{% url 'activity_details' activity.id %}" title="{{ activity.name }}"> {{ activity.name }}</a> </td>
                                <td class="col d-none d-md-table-cell"> {{ activity.category.friendly_name }} </td>
                                <td class="col"> £{{ activity.price }} </td>
                                <td class="col d-none d-md-table-cell"> 
                                    {% if activity.get_duration.1 is True %}
                                        <p class="card-text px-1">{{activity.get_duration.0}}</p>
                                    {% else %}
                                        <p class="card-text px-1">{{activity.get_duration.0}} hrs</p>
                                    {% endif %} 
                                </td>
                                <td class="col"> {{ activity.capacity }} </td>
                                <td class="col d-none d-md-table-cell"> {{ activity.difficulty }} </td>
                                <td class="col">
                                    <a href="{% url 'edit_activity' activity.id %}"><i class="fa-regular fa-pen-to-square mx-2"></i></a>
                                    <a href="{% url 'delete_activity' activity.id %}"><i class="fa-regular text-danger fa-trash-can mx-2"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
                {% else %}
                    <p> No activities have been created yet </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
        Redirect User - They are Not authorised
    {% endif %}
{% endblock %}