{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <a class="button" href="{{ request.META.HTTP_REFERER }}" aria-label="Go back to previous page.">Go Back</a>
        <div class="row">
            <div class="col text-light">
                <hr>
                <h2 class="logo-font mb-4 text-light">Requirements</h2>
                <hr>
                <div class="col-8 bg-grey text-light mx-auto p-5 my-5">
                    <h5> To ride at the park you must have the following equipment as a minimum:</h5>
                    <ul>
                        <li> A helmet with MIPS. If you are riding any black trails you should have a full face helmet. </li>
                        <li> Body armour with a suitable amount of protection for the trails you are riding and also your experience/confidence level.</li>
                        <li> A maintained and fully functioning mountain bike that is suitable for the trails you will be riding. </li>
                        <li> Suitable shoes and clothing for the conditions. </li>
                        <li> Spare parts and tools to allow you to be self-sufficient on the trails. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}