{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="main-image-title">
        <div>
            <img class="hero-image m-auto w-100" src="https://res.cloudinary.com/dxgaw1xya/image/upload/v1713444797/media/500_ubfdmf.jpg" alt="Overlooking Fasttrack">
        </div>
        <div class="internal-error-message d-flex flex-column justify-content-center mb-5">
            <h1 class="text-center muted-text"><em><strong class="gold-text">500</strong></em> Internal error</h1>
            <p class="text-center muted-text">Something has gone wrong!</p>
            <p class="text-center muted-text">Let's get back on track...</p>
            <div class="col-11 mx-auto d-flex justify-content-center">
                <a class="btn checkout-button" href="{% url 'home' %}" aria-label="take me home to the welcome page"> Take me home </a>
            </div>
        </div>
    </div>
{% endblock %}